<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
		{%- if meta.description -%}
			<meta name="description" content="{{ meta.description|striptags }}"/>
		{%- endif %}

		{% if meta.robots %}
			<meta name="robots" content="{{ meta.robots }}"/>
		{% endif %}

		{%- if current_page -%}
			<link rel="canonical" href="{{ current_page.url }}"/>
		{%- endif %}

		<link rel="stylesheet" href="{{ ("themes/" ~ config.theme ~ "/css/index.css")|asset }}"/>
		<script defer src="{{ ("themes/" ~ config.theme ~ "/js/index.js")|asset }}"></script>
	</head>
	<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
		<header>
			{% if pages["_meta"].meta.logo -%}
				<div id="logo" aria-hidden="true">
					<a href="{{ "index"|link }}">
						<img src="{{ pages["_meta"].meta.logo|url }}" alt=""/>
					</a>
				</div>
			{% endif -%}
			<div id="title"{{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
				<a href="{{ "index"|link }}">
					<h1>
						<svg viewbox="0 0 19 5">
							<title>{{ site_title }}</title>
							<g  transform="translate(0 0)">
								<rect width="1" height="1" x="0"/><rect width="1" height="1" x="1"/><rect width="1" height="1" x="5"/><rect width="1" height="1" x="6"/><rect width="1" height="1" x="8"/><rect width="1" height="1" x="10"/><rect width="1" height="1" x="11"/><rect width="1" height="1" x="15"/><rect width="1" height="1" x="16"/>
								<rect width="1" height="1" y="1" x="0"/><rect width="1" height="1" y="1" x="2"/><rect width="1" height="1" y="1" x="4"/><rect width="1" height="1" y="1" x="6"/><rect width="1" height="1" y="1" x="10"/><rect width="1" height="1" y="1" x="12"/><rect width="1" height="1" y="1" x="14"/><rect width="1" height="1" y="1" x="16"/>
								<rect width="1" height="1" y="2" x="0"/><rect width="1" height="1" y="2" x="4"/><rect width="1" height="1" y="2" x="5"/><rect width="1" height="1" y="2" x="6"/><rect width="1" height="1" y="2" x="8"/><rect width="1" height="1" y="2" x="10"/><rect width="1" height="1" y="2" x="12"/><rect width="1" height="1" y="2" x="14"/><rect width="1" height="1" y="2" x="15"/><rect width="1" height="1" y="2" x="16"/>
							</g>
						</svg>
					</h1>
					{{ pages["_meta"].meta.tagline|markdown }}
				</a>
			</div>
			<div id="nav" role="navigation" tabindex="-1">
				<ul>
					{% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
						<li{% if page.id == current_page.id %} class="active"{% endif %}>
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</header>

		<main>
			<div class="container">
				{{ content }}
			</div>
		</main>

		<footer>
			<div class="container">
				<div class="social">
					{% for social in pages["_meta"].meta.social %}
						<a href="{{ social.url }}" title="{{ social.title }}" role="button">
							<span class="icon-{{ social.icon }}" aria-hidden="true"></span>
							<span class="sr-only">{{ social.title }}</span>
						</a>
					{% endfor %}
				</div>
				<p>
					<a href="http://picocms.org/">Pico</a> was made by <a href="http://gilbert.pellegrom.me">Gilbert Pellegrom</a>
					and is maintained by <a href="https://github.com/picocms/Pico/graphs/contributors">The Pico Community</a>.
					Released under the <a href="https://github.com/picocms/Pico/blob/master/LICENSE.md">MIT license</a>.
				</p>
			</div>
		</footer>
	</body>
</html>
